nav {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}